<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="excludingWords" value="facebook,twitter,javascript,plus.google,youtube,linkedin" />
    <add key="dateURLsPattern" value="conf|deadline|call|paper|cfp|submission|date|panel|datas|information|home|index|default|invit" />
  </appSettings>
</configuration>